/* ----- Containers ------ */
.introduction-container {
   display: flex;
   flex-direction: row;
   margin-bottom: 25px;
}
/* ----- Introduction Section ------ */
.introduction-text {
   display: flex;
   flex-direction: column;
   width: 40%;
}
.introduction-header {
   display: flex;
   flex-direction: row;
   gap: 0.5rem;
}
.introduction-logo {
   width: 50%;
   display: flex;
   justify-content: center;
}
.introduction-logo img {
   width: 250px;
}
 /* ----- Media Queries ------ */
@media (max-width: 768px) {
   /* ----- Containers Media Queries ------ */
   .introduction-container {
       flex-direction: column-reverse;
       justify-content: center;
   }
   /* ----- Introduction Section Media Queries ------ */
   .introduction-text {
     align-items: center;
     justify-content: center;
     text-align: center;
     width: 100%;
   }
   .introduction-logo {
    display: none;
     width: 100%;
     margin-bottom: 150px;
   }
}