.radio-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .radio-button input[type='radio'] {
    display: none;
  }
  
  .radio-custom {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #ccc;
    display: inline-block;
    margin-right: 10px;
    transition: background 0.3s, border-color 0.3s;
  }
  
  .radio-button input[type='radio']:checked + .radio-custom {
    background: #4caf50;
    border-color: #4caf50;
  }
  